<nav class="header">
  <h1 class="header__logo">
    <img src="assets/images/logo.PNG" />
    Platzi <strong>Work</strong>
  </h1>
  <div class="dropdown">
    <div class="dropdown__area">
      <span class="dropdown__user material-icons">person</span>
    </div>
    <div class="dropdown__content">
      <a href="#"><span class="dropdown__icon material-icons">favorite</span> Favoritos</a>
      <a href="#"><span class="dropdown__icon material-icons">login</span>Cerrar sesión</a>
    </div>
  </div>
</nav>
