<app-header></app-header>
<div class="container">
  <div class="vacancy">
    <h1 class="vacancy__title">{{ job && job.position }}</h1>
    <h2>Empresa</h2>
    <button class="vacancy__btn">
      <span class="material-icons">favorite</span>
      &nbsp; APLICAR
    </button>

    <div class="vacancy__location">
      <span class="material-icons">location_on</span>
      {{ job ? job.cities : 'Sin definir' }}
    </div>
    <br />
    <span class="vacancy__date">
      Fecha de publicación: {{ job && job.created_at }}
    </span>
    <div class="vacancy__separator"></div>
    <div class="vacancy__description">{{ job && job.description }}</div>
    <br />
    <div class="vacancy__range">
      <span class="vacancy__range-color">Rango Salarial:</span>
      $ {{ job && job.salary_start }}- ${{ job && job.salary_end }}
    </div>
    <div class="vacancy__advice">
      Si quieres aplicar a esta vacante, manda un DM a Shaili via Slack para que
      te haga una intro.
    </div>
  </div>
  <div class="chat">
    <button (click)="back()">
      <span class="material-icons">arrow_back</span>
      &nbsp;Regresar
    </button>
    <h2>Comentarios</h2>
    <div class="chat__comments">
      <app-comment></app-comment>
      <app-comment></app-comment>
      <app-comment></app-comment>
    </div>
    <input
      class="chat__input"
      type="text"
      placeholder="Escribir comentario..."
    />
    <button class="chat__btn">Publicar</button>
  </div>
</div>
