<div class="card">
  <h3 class="card__title">{{job.position}}</h3>
  <p class="card__company">{{job.company.name}}</p>
  <span class="card__location">
    <span class="material-icons"> location_on </span>
    <p>{{job.cities?job.cities:'Sin definir'}}</p>
  </span>
  <span class="card__salary"
    ><span class="material-icons"> attach_money </span>
    <p>{{job.salary_start}}-{{job.salary_end}}</p></span
  >
  <div class="card__description">
    {{job.description}}
  </div>
  <div class="card__tags">
    <app-chip *ngFor="let tec of job.technologies" [tec]="tec"></app-chip>
  </div>
  <span class="card__date"
    ><span class="material-icons"> schedule </span>
    <p style="font-size: xx-small;">{{job.updated_at}}</p>
  </span>
  <button (click)="moreInfo()">Ver</button>
</div>
