<div class="container">
  <div class="container_box">
    <div class="form">
      <div class="form_logo">
        <img class="logo" src="assets/images/logo.PNG" alt="logo" />
        Platzi
        <span class="form_logo-text">Work</span>
      </div>
      <h1 class="form_title center">Ingresar</h1>
      <input class="form_input" placeholder="Contraseña" type="text" />
      <input class="form_input" placeholder="Correo" type="text" />
      <button class="form_btn">Iniciar sesión</button>
      <span class="form_label">¿Aún no tienes cuenta?</span>
      <button class="form_btn-second">Regístrate</button>
    </div>
  </div>
</div>
