<div class="container">
  <div class="form">
    <span class="form_lbl">Rango Salarial</span>
    <select name="select" class="form_inp">
        <option value="value1">20,000-25,000</option>
        <option value="value2">25,000-30,000</option>
        <option value="value3">30,000-35,000</option>
        <option value="value3">35,000-40,000</option>
        <option value="value3" selected>45,000-50,000</option>
    </select>
    <span class="form_lbl">Categoria</span>
    <select name="select" class="form_inp">
        <option value="value1">Remoto</option>
        <option value="value3">Semi-precencial</option>
        <option value="value2">Precencial</option>
    </select>
    <span class="form_lbl">Nivel de ingles</span>
    <select name="select" class="form_inp">
        <option value="value2">Bajo</option>
        <option value="value2">Intermedio</option>
        <option value="value2">Alto</option>
    </select>
    <span class="form_lbl">Ubicación</span>
    <select name="select" class="form_inp">
        <option value="value1">México</option>
        <option value="value2">Colombia</option>
    </select>
  </div>

</div>
