@import './../../../styles.scss';
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-blue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-green;
}

.hero {
  height: 250px;
  background-image: url('https://static.platzi.com/media/blog/platzi-master-colombia-1-jpg-1e49532c-0d8d-4d9f-b3f6-5880971f4f65.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &__search {
    h2 {
      margin: auto;
      text-align: center;
      margin-bottom: 32px;
      color: $color-blue;
      background-color: #ffffff;
      box-shadow: 0 0 10px 10px #ffffff;
      border-radius: 10px;
      width: 300px;
    }
    &--bar {
      width: 500px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      position: relative;
      input {
        width: 500px;
        height: 40px;
        border-radius: 50px;
        border: $color-green 2px solid;
        padding-right: 40px;
        padding-left: 16px;
        font-family: $font;
        opacity: 0.9;
        font-size: 18px;
        &:focus {
          outline: none;
        }
      }
      span {
        position: absolute;
        right: 12px;
        font-size: 32px;
        top: 6px;
      }
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 75vw 1fr;
  .jobs {
    background-color: $color-softblue;
    height: 100%;
    &__search{
      font-weight: bold;
      color:grey;
    }
    &__container {
      padding: 8px;
      width: 72vw;
      height: 90vh;
      margin: 16px auto;
      background-color: $color-white;
      overflow: auto;
    }
  }
  .filters {
    background-color: $color-white;
  }
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: 75vw 1fr;
    .jobs {
      height: 100vh;
      &__container {
        width: 100%;
        padding: 4px;
        height: 100vh;
        margin: 4px auto;
        background-color: whitesmoke;;
        overflow: auto;
      }
    }
    .filters {
      background-color: $color-white;
    }
  }

  .hero {
    height: 200px;
    &__search {
      h2 {
        font-size: large;
      }
      &--bar {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        position: relative;

        input {
          width: 90%;
          height: 40px;
          border: $color-green 3px solid;
        }
      }
    }
  }
}
