<app-header></app-header>
<section class="hero">
  <div class="hero__search">
    <h2>Encuentra tu trabajo ideal</h2>
    <div class="hero__search--bar">
      <input #main type="text" placeholder="Buscar..." 
      (keyup.enter)="search(main.value)"/>
      <span class="material-icons">search</span>
    </div>
  </div>
</section>
<main class="main">
  <section class="jobs">
    <div class="jobs__container">
      <div class="jobs__search" *ngIf="searchText.length>0"> Busco: "{{searchText}}" - {{jobs.length}} Coincidencias encontradas</div>
      <app-card *ngFor="let job of jobs" [job]="job"></app-card>
    </div>
  </section>
  <aside class="filters">
    <app-filters></app-filters>
  </aside>
</main>
