@import "./../../../../styles.scss";

.chip {
  font-size: 12px;
  border: 1px solid;
  width: 90px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: $color-blue;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: $color-softgray;
  }
}
