/* You can add global styles to this file, and also import other style files */

// Font
$font: 'Lato', sans-serif;

// Color theme
$color-green: #89c73a;
$color-white: #ffffff;
$color-blue: #121f3d;
$color-gray: #303030;
$color-softblue: #f3f8fb;
// Resets
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}
